


@import url('https://fonts.googleapis.com/css2?family=Amita&family=Dancing+Script&family=Noto+Sans:wght@300&family=Single+Day&display=swap');

/*I LOVED THESE COLOURS HOW THEY LOOK, THAT'S WHY I USED THEM IN THIS WEBSITE ESPECIALLY THE HEADER AND FOOTER*/

#all{
    max-width: 1600px;
    margin: 0 auto;
    
    background-color: #8ecae6;}

header {
    background-color: #3a03ff;
display: grid;

grid-template-columns: 150px auto;
}


nav {
    /* grid-column: 2/3;
     grid-row: 1/2;
     /*align-items: center;*/
   /*  align-self: center;*/
 
     
   
     grid-template-columns: 2/3;
     width: auto;
     grid-template-rows: 1/2; 
     display: flex;
     justify-content: space-around; 
     }
 
     nav a {
         color: #ffb703;
         text-decoration: none;
         text-align: center;
         padding: 35px;
         font-size: 20px;
         font-weight: bold;
     }
 
 
         nav a:hover {
             background-color: white;
         color: black;
         font-weight: bold;
         
         }




         #push { 
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: space-around;
            padding: 0 100px;
        }
        
        
        #push a {
            padding:0 100px;
            }
            




            body {
                background-color: #c2d2da;
                /*background-color: #8ecae6;*/
                 
          font-family: "Noto sans", Helvetica, sans-serif;
          font-size: 22px;
          margin: 0; padding: 0;}
          
          
          
          #magic_logo {
              /*width: 70px;
              height: 70px;*/
              border-radius: 50%;
          
              display: flex;
              justify-content: center;
              align-items: center;
              width: 80px;
              justify-self: center;
              align-self: center;
              padding: 10px 30px;}
          

              .top {
                display: grid;
                grid-template-columns: 150px auto;
            }
            
            
            .first_top {
                grid-column: 1/2;
                grid-row: 1/2;
            }







/*BANNER*/
.banner {
    width: 100%;
}
#banner_home {
    width: 100%;

}

.banner_section {
    width: 100%;
}

.book_button {
    margin-left: 550px;
    margin-top: 100px;
}

.text {
    margin-left: 15px;
    margin-right: 15px;
}

.booking:hover {
    
        background-color: green;
            color: #ffb703;
            text-align: center;
            font-weight: bold;
        
}



.booking {
    grid-column: 2/3;
    font-weight: bold;

    margin-left: 110px;
    background-color: #ffb703;
        color: black;
        text-decoration: none;
        font-size: 18px;padding: 15px 30px;
        margin-top: 150px;
        border-radius: 5px;
        text-align: center;
        width: 80px;
       /* margin-right: 80px;*/
       margin-left: 185px;
}



.head {
    color:#3a03ff ; 
    font-family: Amita, "Dancing Script","Single Day";
    text-align: center;
 }


.img1 {
    width: 505px;
    height: 350px;
    margin-left: 180px;
}

.img2 {
    width: 550px;
    height: 350px;
    margin-left: 230px;
}

.img_p1 {
     width: 490px;
    height: 370px;
    margin-left: 150px;

}

.part {
    margin-left: 260px;
}



.full {
    margin-left: 1180px;
    margin-top: -100px;
}


.words {
    margin-left: 15px;
    margin-right: 15px;
}



.imgp2 {
    width: 490px;
    height: 370px;
    margin-left: 350px;
}

.shorts {
    float: left;
}
.long {
    float: left;
    
}

.ever {
    margin-top: 100px;
    margin: 10px;
}



/*PAGE 2*/
.money_img1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}


.money_img2 {

    margin-right: 15px;
    margin-top: 15px;
}


.ruth {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.ruth2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}

.media {
    border-radius: 10%;
}




         footer {background-color:#ffb703 ;
            color: #3a03ff;
            padding: 25px 50px;
            margin-top: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            }
        
            footer p {
                font-size: 1.1em;}
                .pass {
                    font-weight: bold;
                }
        
        
            footer a {
                color: #3a03ff;
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
        }
        
            footer a:hover {
                color: black;
            }
        
        
            footer p {
                font-size: 1.1em;
            }
        
            footer a:hover {
                text-decoration: underline;}
                footer .social img {padding-top: 15px;}