


@import url('https://fonts.googleapis.com/css2?family=Amita&family=Dancing+Script&family=Noto+Sans:wght@300&family=Single+Day&display=swap');



header {
    background-color: #2596be;
display: grid;
/*grid-template: 1fr /150px auto ; 
grid-auto-flow: row;
margin: -10px 0;*/

grid-template-columns: 150px auto;
}
#all{
    padding: 50px;
    margin: 50px;
}



nav {
   /* grid-column: 2/3;
    grid-row: 1/2;
    /*align-items: center;*/
  /*  align-self: center;*/

    
  
    grid-template-columns: 2/3;
    width: auto;
    grid-template-rows: 1/2; 
    }

    nav a {
        color: black;
        text-decoration: none;
        text-align: center;
        padding: 35px;}


        nav a:hover {
            background-color: white;
        color: black;
        
        }


#push { 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}
    


body {
    background-color: #c2d2da;
font-family: "Noto sans", Helvetica, sans-serif;
font-size: 22px;
margin: 0; padding: 0;}



#magic_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}



.top {
    display: grid;
    grid-template-columns: 150px auto;
}


.first_top {
    grid-column: 1/2;
    grid-row: 1/2;
}



/*BANNER*/
.banner {
    max-width: 100%;
}
.banner_home {
    max-width: 100%;

}

.banner_section {
    width: 100%;
}


.first_heading {
    text-align: center;
}





.second_heading {
    text-align: center;
}


/*FLOAT IMAGE*/
.area {
    margin: 50px;
}
.main_img {
    height: 300px;
    width: 400px;
}








/*THE THREE IMAGES*/
.threes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1/3;*/
    gap: 10px;
}

.first_image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 300px;
}



.second_image {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 320px;
    height: 300px;
}



.third_image {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 400px;
    height: 300px;
}



.h3_one {
    margin-left: 135px;
}


.h3_two {
    margin-left: 60px;
}

.h3_three {
    margin-left: 110px;
}



.joining_button {
    grid-column: 2/3;
   /* grid-row: 2/3;
    align-items: center;
    align-self: center;*/
    margin-left: 110px;
}















/* THIS IS FOR THE FLEX AREA*/
.main_img {
    grid-column: 1/2;
    grid-row: 1/2;
}

.box_one {
   /* display: grid;
    grid-template-columns: 1fr;*/
    float: left;
    margin-right: 15px;
}

.next {
  /*  grid-column: 1/2;
    grid-row: 2/3;*/
    margin-bottom: 100px;
}






footer {background-color:#b9b250 ;
    color: #3a03ff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }


    footer a {
        color: #3a03ff;
    text-decoration: none;}

    footer a:hover {
        color: white;
    }


    footer p {
        font-size: 1.1em;
    }

    footer a:hover {
        text-decoration: underline;}