


@import url('https://fonts.googleapis.com/css2?family=Amita&family=Dancing+Script&family=Noto+Sans:wght@300&family=Single+Day&display=swap');



header {
    background-color: #3a03ff;
display: grid;
/*grid-template: 1fr /150px auto ; 
grid-auto-flow: row;
margin: -10px 0;*/

grid-template-columns: 150px auto;
}
#all{
    max-width: 1600px;
    margin: 0 auto;
    
    background-color: #8ecae6;
}



nav {
   /* grid-column: 2/3;
    grid-row: 1/2;
    /*align-items: center;*/
  /*  align-self: center;*/

    
  
    grid-template-columns: 2/3;
    width: auto;
    grid-template-rows: 1/2; 
    display: flex;
    justify-content: space-around; 
    }

    nav a {
        color: #ffb703;
        text-decoration: none;
        text-align: center;
        padding: 35px;
        font-size: 20px;
        font-weight: bold;
    }


        nav a:hover {
            background-color: white;
        color: black;
        font-weight: bold;
        
        }


#push { 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}


#push a {
    padding:0 100px;
    }
    


body {
      background-color: #c2d2da;
      /*background-color: #8ecae6;*/
       
font-family: "Noto sans", Helvetica, sans-serif;
font-size: 22px;
margin: 0; padding: 0;}



#magic_logo {
    /*width: 70px;
    height: 70px;*/
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    justify-self: center;
    align-self: center;
    padding: 10px 30px;

    
}



.top {
    display: grid;
    grid-template-columns: 150px auto;
}


.first_top {
    grid-column: 1/2;
    grid-row: 1/2;
}



/*BANNER*/
.banner {
    width: 100%;
}
#banner_home {
    width: 100%;

}

.banner_section {
    width: 100%;
}










/*FLOAT IMAGE*/
/*.area {
    margin: 50px;
}*/

.words {
    margin-right: 10px;
    margin-left: 10px;
}
.main_img {
    height: 300px;
    width: 400px;
}


.first_heading {
    color: #3a03ff;
font-family: Amita, "Dancing Script","Single Day";
/*margin: 0;*/
text-align: center;
}



.second_heading {
   color:#3a03ff ; 
   font-family: Amita, "Dancing Script","Single Day";
   text-align: center;
}





/*THE THREE IMAGES*/
.threes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1/3;*/
    gap: 10px;

    
}

.first_image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 300px;
    margin-left: 20px;
}



.second_image {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 350px;
    height: 300px;
    margin-left: 35px;
}



.third_image {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 505px;
    height: 300px;
}



.h3_one {
    margin-left: 150px;
}


.h3_two {
    margin-left: 100px;
}

.h3_three {
    margin-left: 120px;
}



.joining_button {
    grid-column: 2/3;
    font-weight: bold;

    margin-left: 110px;
    background-color: #ffb703;
        color: black;
        text-decoration: none;
        font-size: 18px;padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        text-align: center;
        width: 80px;
       /* margin-right: 80px;*/
       margin-left: 150px;
}

.joining_button:hover {
    background-color: green;
        color: #ffb703;
        text-align: center;
        font-weight: bold;
    
}



















/* THIS IS FOR THE FLOAT AREA*/
.main_img {
    grid-column: 1/2;
    grid-row: 1/2;
  /*  float: left;*/
    /*margin: 5px;*/
    height: 300px;
}


.area {
    display: grid;
    grid-template-columns: 1fr;
    float: left;
   /* display: inline-block;*/
  /* background-color: red;*/
     margin-right: 15px;
     margin-top: 10px;
    

}

.box_one {
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    /*margin-top: 100px;*/
    grid-column: 1/2;
    grid-row: 1/2;
    }

.next {
  /*  grid-column: 1/2;
    grid-row: 2/3;*/
   /* margin-bottom: 100px;*/
   /* float: left;*/
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 10px;
   
    
}



/** {
    border: solid blue 5px;
}
*/

footer {background-color:#ffb703 ;
    color: #3a03ff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    footer p {
        font-size: 1.1em;}
        .pass {
            font-weight: bold;
        }


    footer a {
        color: #3a03ff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

    footer a:hover {
        color: black;
    }


    footer p {
        font-size: 1.1em;
    }

    footer a:hover {
        text-decoration: underline;}
        footer .social img {padding-top: 15px;}

    .media {
        border-radius: 10%;
    }







    /*CSS FOR "TYPES OF MAGIC" PAGE*/






 
    .heading_one {
        text-align: center;
        color: #3a03ff;
        font-family: Amita, "Dancing Script","Single Day";
        font-weight: bold;
    }
    
    .heading_two {
        text-align: center;
        color: #3a03ff;
        font-family: Amita, "Dancing Script","Single Day";
        font-weight: bold;
    }

    .types {
        margin-left: 15px;
        margin-right: 15px;
        font-weight: bold;
    }


    .img_type1 {
        height: 434px;
        width: 40%;
    }


    #hero_type {
        width: 100%;
    }


    #type_image {
        width: 100%;
    }